<<<<<<< HEAD
body{
    background-color: bisque;
}

.form{
    border: 1px solid black;
    max-width: 300px;
    padding: 10px;


}

.fieldset{
    border: 1px solid rgb(195, 42, 185);

}

.form-label{
    display: block;

}

.form-control{
    width: 100%;
}

.form-submit{
    background-color: rgb(102, 236, 136);
    padding: 10px;
    border-radius: 5px;
    
}

=======
body{
    background-color: bisque;
}

.form{
    border: 1px solid black;
    max-width: 300px;
    padding: 10px;


}

.fieldset{
    border: 1px solid rgb(195, 42, 185);

}

.form-label{
    display: block;

}

.form-control{
    width: 100%;
}

.form-submit{
    background-color: rgb(102, 236, 136);
    padding: 10px;
    border-radius: 5px;
    
}

>>>>>>> 51b25e4 (Message for changes)
